category-list-component.html

<h1 class="title">Category List</h1>

<div class="row">
  <div class="col-sm-8">
    <!-- <button type="button" (click)="getAll()"> Buscar</button> -->
  </div>
  <div class="col-sm-4 btng">
    <button type="button" class="btn btn-primary btn-size" title="Search categories" (click)="getAll()"><i
        class="bi bi-search"></i>Search</button>
    <button type="button" class="btn btn-secondary btn-size" title="Register new category" (click)="new()"><i
        class="bi bi-folder-plus"></i>New</button>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <!-- <button type="button" (click)="getAll()"> Buscar</button> -->

    <table class="table table-dark mt-2">
      <th>Id</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Action</th>

      <tbody>
        @for (category of categories(); track $index) {
        <tr>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>{{category.slug}}</td>
          <td>
            <button type="button" class="btn btn-success me-2" title="View category">
              <i class="bi bi-binoculars"></i>
            </button>
            <button type="button" class="btn btn-info me-2" title="Edit category">
              <i class="bi bi-pen"></i>
            </button>
            <button type="button" class="btn btn-warning me-2" title="Delete category">
              <i class="bi bi-trash3"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>

      <tfoot>

      </tfoot>

    </table>
  </div>
</div>
